beautifulsoup4
html5lib
requests
python-dateutil
boltons

jinja2
flask
OpenCC

pylatex
pybtex


html2image

epubpacker@git+https://github.com/meng89/epubpacker@dev#egg=epubpacker
xl@git+https://github.com/meng89/xl@dev#egg=xl
