
body {
    font-family: "Source Serif 4", "Source Serif 5", /* Linux */
                 "Liberation Serif", /* Linux 兜底 */
                 "Palatino Linotype", /* Windows */
                 Palatino, /* MacOS */
                 "Times New Roman", /* Windows MacOS 兜底 */
                 $body_font_name, /* 汉字 */
                 serif; /* html 兜底 */
}

body > p {
    text-indent: 2em;
}

body > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.poem > p {
    margin-top: 0em;
    margin-bottom: 0em;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "Source Sans 3", "Source Sans 4", /* Linux */
                 "DejaVu Sans" /* Linux 兜底 */
                 "Segoe UI", /* Windows */
                 "Helvetica Neue", /* MacOS */
                 Arial, /* Windows MacOS 兜底 */
                 $heading_font_name, /* 汉字 */
                 sans-serif; /* html 兜底 */
    font-weight: bold;
    color: inherit;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


.no_text_noteref {
    vertical-align: super; /* 设置为上标 */
    font-size: 0.75em;     /* 缩小字体大小，例如为原来的 75% */
    line-height: 0;
    text-indent: 0em;

}
.sutta_nums {
/*
    font-family: "Noto Serif";
    font-size: 0.8em;
*/
}
.sutta_num_sc, .sutta_num_abo {
    color: inherit;
    text-decoration: none;
}
.sutta_name {
    color: inherit;
    text-decoration: none;
}


a.noteref {
    color: inherit;
    text-decoration-style: dotted;
    text-underline-offset: 0.2rem;
}

body.note ol {
    list-style: none;
}

a.suttaref_inbook {
    color: inherit;
}


body.cover {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100vh;           /* 确保body高度填满整个视口 */
    margin: 0;               /* 移除默认margin */
}
body.cover   img {
    max-width: 100%;         /* 图片最大不超过父容器宽度 */
    max-height: 100%;        /* 图片最大不超过父容器高度 */
}


body.homage {
    display: flex; /* 将body设置为弹性容器 */
    align-items: center; /* 使子元素在垂直方向上居中 */
    min-height: 100vh; /* 让body占据整个视口高度，确保垂直居中有效 */
    justify-content: center; /* 水平居中 */
}

.poem_wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    align-items: center; /* 垂直居中对齐 */
}
.author {
    text-align: right; /* 让作者名字靠右，贴近诗句 */
    font-weight: bold;
}

/* 诗句样式 */
.poem_lines {
    text-align: center; /* 诗句文字本身居中 */
}